@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Главный контейнер */
.grid-container {
    width: 1920px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 580px 1262px 1004px 1280px 762px 151px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "home"
    "about-me"
    "process"
    "projects"
    "contacts"
    "footer";
}

h1, h2, h3, p{
    margin: 0;
}

h2{
    font-size: 32px;
    font-weight: 500;
}

/* ШАПКА */
.header {
    grid-area: header;
    background-color: #EEEFF1;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 115px;
    height: 72px;
    padding-top: 67px;
    padding-left: 398px;
}

.header__menu {
    list-style: none;
    width: 661px;
    height: 16px;
    padding-top: 72px;
    padding-right: 363px;
    display: flex;
    justify-content: left;
}

.header__menu li {
    display: inline-block;
    letter-spacing: 1.7px;
    margin-right: 42px;

}

.header__menu li a{
    text-decoration: none;
    color: #000;
}

.header__menu li a:hover{
    color: #34547A;
}

/* ГЛАВНАЯ */
.home {
    background-color: #EEEFF1;
    grid-area: home;
    padding: 100px 405px 157px 487px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 3fr;
    
}

.home__laptop {
    grid-row: 1/3;
    grid-column: 1/1;

    padding-top: 31px;

}

.home__h1 {
    grid-row: 1/1;
    grid-column: 2;
    align-self: start;
    margin-left: 76px;
    margin-top: 12px;

    text-transform: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    
}
    
.home__text {
    grid-row: 2/2;
    grid-column: 2;
    align-self: center;

    line-height: 27px;
    width: 530px;
    margin-left: 77px;
    margin-bottom: 15px;
}

.home__btn-write-me {
    grid-row: 3/3;
    grid-column: 2;
    align-self: end;

    width: 225px;
    height: 65px;
    background-color: #34547A;
    color: #ffffff;

    margin-left: 77px;
    margin-bottom: 14px;

    letter-spacing: 1.7px;

    cursor: pointer;
}

/* ОБО МНЕ */
.about-me {
    height: 1262px;
    grid-area: about-me;
    display: grid;
    grid-template-rows: 2fr 3fr 270px 653px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "about_h2 about_h2"
    "about_text about_text"
    "about_numbers about_numbers"
    "about_skills about_photo";
}

.about-me__h2 {
    grid-area: about_h2;
    text-align: center;
    padding-top: 94px;
    padding-right: 1px;
}

.about-me__text {
    grid-area: about_text;
    text-align: center;
    width: 540px;

    padding: 33px 690px 0;

    line-height: 27px;
}

.about-me__numbers {
    grid-area: about_numbers;
    width: 100%;
    background-color: #34547A;
    display: flex;
    justify-content: left;

    margin-bottom: 20px;
}

.about-me__numbers img{
    margin-top: 2px;
    margin-left: 49px;
}

.about-me__numbers img:first-of-type{
    margin-left: 406px;
}


.about-me__skills {
    grid-area: about_skills;
    padding: 186px 0 192px 386px;
}

.skills__h2 {
    margin-top: 0;
    margin-bottom: 50px;
}

.skills__skills-list {
    
    margin-top: -8px;
    list-style: none;
    padding-left: 0;
}
.skills__skills-list li {
    margin-bottom: 30px;
}

.skills-list__skill {
    width: 445px;
    height: 4px;
    margin-top: 17px;
    background-color: #C4C4C4;
    position: relative;

}

.percent{
    display: none;
}

.skills-list__skill-level {
    background-color: #34547A;
    position: absolute;
    width: 0%;
    height: inherit;
    transition: 1s;
}

.about-me__photo {
    grid-area: about_photo;
    
    width: 555px;
    height: 450px;
    padding: 82px 384px 121px 22px;
}

.about-me__photo img {
    width: inherit;
    height: inherit;
}

/* КАК Я РАБОТАЮ */
.process {
    grid-area: process;
    background-color: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process__h2 {
    margin: 82px 0 39px;
}

.process__text {
    margin: 0 690px 49px;
    text-align: center;
    line-height: 27px;
}

.process__video {
    width: 1110px;
    height: 600px;
}

/* ПРОЕКТЫ И КЛИЕНТЫ */
.projects {
    grid-area: projects;
    
    display: grid;
    grid-template-rows: 10px 1fr 292px;
    grid-template-columns: 1fr;
}

.projects__projects-wrapper {
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.projects-wrapper__project {
    width: 480px;
    height: 480px;
}

.projects-wrapper__project img {
    width: inherit;
    height: inherit;
}

.projects__clients {
    grid-row: 3;
    display: flex;
    justify-content: left;
    align-items: center;

    padding-bottom: 62px;
    padding-left: 374px;
    
}

.projects__clients img {
    width: 255px;
    height: 120px;
    margin-left: 30px;
   
}

.contacts {
    grid-area: contacts;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    background-color: #EEEFF1;
}

/* КОНТАКТЫ */
.contacts__h2 {}

.contacts__text {}

.contacts__form {}

/* ПОДВАЛ */
.footer {
    grid-area: footer;
}

.footer__copyright {}

.copyright__name {}

.copyright__year {}

.footer__social-networks {}